
/myfiles
/applications/prints
/applications/Backup
.DS_Store
.DS_Store
applications/img/brussels.json
RMA outbreak.mp4
secrets.md
/lectures/2025_updates.md
/lectures/theory.txt
/applications/applications.txt
all_julia_files.txt
/buffer/*
settings.json
.gitignore